<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>
<body>
<h1>WebMF configuration</h1>
<script src="../socket.io.min.js"></script>
<script type="text/javascript" src="libs/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="libs/underscore-min.js"></script>
<script type="text/javascript" src="libs/backbone-min.js"></script>


<script type="text/template" id="item-template">
<h3><%- name %></h3>
<p><%- running %></p>
<p><%- playersInQueue %></p>
<p><%- matches %></p>
</script>

<div id="gamesMonitors">
	
</div>

<!-- Components -->
<script type="text/javascript" src="./components/main.js"></script>




</body>
</html>